@model PRODUCT.UI.Models.Product.CreateProductModel

@{
    ViewData["Title"] = "Create";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>





<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricule" class="control-label"></label>
                <input asp-for="Matricule" class="form-control" />
                <span asp-validation-for="Matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" readonly="readonly" class="form-control" />
                <span asp-validation-for="Slug"class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group" style="float: right">
                <a asp-controller="Product" asp-action="Index"> <button type="button" asp-controller="Product" asp-action="Index" class="btn btn-primary">Cancel</button></a>
                <button type="submit" class="btn btn-success" >Create</button>
            </div>
        </form>
    </div>
</div>

<div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#Name").keyup(function(){
                var slug = this.value.replace(/ /g, "_");
                $("#Slug").val(slug);
            });
        });

    </script>
}


